body {
  background-color: hotpink;
  font-family: "Lobster", cursive;
}

h1 {
  color: darkblue;
  -webkit-text-fill-color: aqua;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkblue;
  /* font-size: 30px; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.panic {
  color: white;
}
